## Practice Python by Solving
No 11 - 20

#### NO 11

Create a function that takes a list of numbers and returns the smallest number in the list

* Examples =>
find_smallest_num([34,15,88,2]) =>2

In [2]:
# i am have 2 option for this challange
def find_smallest_num(num_smallest):
    return min(num_smallest)

def find_smallest_num2(num_smallest2):
    return list(sorted(num_smallest2))[0]

In [5]:
print(find_smallest_num([34,15,88,2]))
print(find_smallest_num2([32,-15,-88,230]))

2
-88

#### NO 12
Create a function that takes a list and returns the diffrence between the biggest and smallest numbers.

diffrence_max_min([10,4,1,4,-10,-50,32, 21]) => 82

In [6]:
def diffrence_max_min(lst):
    return max(lst) - min(lst)

diffrence_max_min([10,4,1,4,-10,-50,32, 21])

82

In [8]:
def dmm(lst2):
    return list(sorted(lst2))[-1] - list(sorted(lst2))[0]

dmm([10,4,1,4,-10,-50,32, 21])

82

#### NO 13
Create a function that takes a string (will be a person's first and last name) and returns a string with the first and last name swapped.
                                       
name_shuffle("Donald Trump") => "Trump Donald"

In [12]:
def name_shuffle(txt):
    return " ".join(reversed(txt.split(" ")))

name_shuffle("Paul Titto")

'Titto Paul'

Why i'm use
* join => The join() method takes all items in an iterable and joins them into one string.
* reversed => The reversed() function returns an iterator that accesses the given sequence in the reverse order.
* split => The split() method splits a string into a list. You can specify the separator, default separator is any whitespace.

#### NO 14
Create a function that replaces all the vowels in a string with a specified character.

replace_vowels("the aardvark", "#") => "th# ##rd#rk"

In [15]:
import re
def replace_vowels(word, rep):
    return re.sub(r'[aiueoAIUOE]', rep, word, flags=re.IGNORECASE)

replace_vowels("Hallo This is Titto", "&")

'H&ll& Th&s &s T&tt&'

why use
* > re.sub => Return the string obtained by replacing the leftmost non-overlapping occurrences of pattern in string by the replacement repl. If the pattern isnâ€™t found, string is returned unchanged. repl can be a string or a function; if it is a string, any backslash escapes in it are processed. That is, \n is converted to a single newline character, \r is converted to a carriage return, and so forth. Unknown escapes of ASCII letters are reserved for future use and treated as errors. Other unknown escapes such as \& are left alone. Backreferences, such as \6, are replaced with the substring matched by group 6 in the pattern.

#### NO 15
Create a function that takes three arguments `a, b, c` and returns the sum of the numbers that are evenly divended by `c` from range `a,b` inclusive.

Examples =>

evnly_divisible(1, 10, 20) => 0

In [67]:
def evenly_divisible(x,y,z):
    return(len([i for i in range(x, y+1) if i%z==0]))

evenly_divisible(1, 10, 20)

0

In [69]:
def divisible_in_range(x, y, z):
    if x > y:
        x, y = y, x
    count = 0
    for i in range(x, y + 1):
        if i % z == 0:
            print(i)
            count +=1
    return count

divisible_in_range(1, 10, 20)

0

#### NO 16

Create a function that takes an integer and returns the factorial of that integer. That is, the integer multiplied by all positive lower integers.

factorial(3) => 6

In [75]:
def fact(n):  
    return 1 if (n==1 or n==0) else n * fact(n - 1);  
fact(3)

6

#### NO 17

Create a function that takes two numbers and a mathematical operator  `+ - / *`  and will perform a calculation with the given numbers.

calculator(2 ,"+",2)=> 4

In [80]:
def calculator(num1, operator, num2):
    try:
        return eval(str(num1)+operator+str(num2))
    except zeroDivisionError:
        return "Can't Divide by 0!"

In [81]:
calculator(2, '+', 2)

4

#### NO 18
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself . This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

add_indexes([0,0,0,0,0])= [0,1,2,3,4]

In [83]:
def add_indexes(lst):
    return [i+j for i, j in enumerate(lst)]

add_indexes([0,0,0,0,0])

[0, 1, 2, 3, 4]

#### NO 19

You're in the midst of creating a typing game.
Create a function that takes in two lists: the list of user-typed words, and the list of correcly typed words and outputs a list contining 1 s (correctly-typed words) and -1s (incorrectly typed words

* Example => 
User-typed : ["Cat", "Blue", "skt", "umbrells", "paddy"]
Correct : ["Cat", "Blue", "sky", "umbrella", "paddy"]
outputs: [1, 1, -1, -1, 1]

In [1]:
def correct_stream(user, correct):
    return [1 if user[i] == correct[i] else -1 for i in range(len(user))]

correct_stream(
    ["it", "is", "find"],
    ["it", "is", "fine"]
)

[1, 1, -1]

#### NO 20
Create a function that returns the mean of all ddigits.

mean(42) -> 3

In [2]:
def mean(num):
    x = [int(x) for x in str(num)]
    return sum(x)/len(x)

mean(46)

5.0