#### NO 21

Given a list of boxes, create a function that returns the total volume of all those boxes combined together. A box is represented by a list with three elements: length, width and height.

For instance, total_volume([2, 3, 2], [6,6,7], [1,2,1]) should return 266  since (2 x 3 x 2) + (6 x 6 x 7) + (1 x 2 x 1) = 12 + 252 + 2 = 266.

* Examples =>
total_volume([4,2,4], [3,3,3], [1,1,2], [2,1,1]) => 63

In [7]:
def total_volume(*boxes):
	    return sum(y*x*z for y,x,z in boxes)

In [8]:
 total_volume([4,2,4], [3,3,3], [1,1,2], [2,1,1])

63

#### NO 22
Create a function that takes a dictionary of student names and returns a list of student names in alphabetcal order

* Example =>

get_student_names({
    "Student 1": "Steven",
    "Student 2": "Becky",
    "Student 3": "Johnn"
})

In [9]:
def get_student_names(name):
    return sorted(name.values())

In [10]:
get_student_names({ "Student 1": "Steven", "Student 2": "Becky", "Student 3": "Johnn" })

['Becky', 'Johnn', 'Steven']

#### NO 23
Write a function that takes a list of elements and returns only the integers.

* Examples=>
return_only_integer([9,2,"space","car","lion",16]) => [9,2,16]

In [12]:
def return_only_integer(lst):
    return [i for i in lst if type(i) == int]

In [14]:
return_only_integer([9,2,"space","car","lion",16])

[9, 2, 16]

#### NO 24
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

* Examples = >
next_in_line([5, 6, 7,8,9],[1]) => [6,7,8,9,1]

In [15]:
def next_in_line(lst, num):
    return lst[1:] + [num] if lst else "no list has been selected"

In [19]:
next_in_line([5, 6, 7,8,9],1)

[6, 7, 8, 9, 1]

#### NO 25
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

* Examples =>
missing_num([1,2,3,4,5,6,7,8,9,10]) => 5

In [23]:
def missing_num(lst):
    return 55- sum(lst)

missing_num([1,2,3,4,6,7,8,9,10])

5

#### NO 26 
Create a function that takes a list containing  nesed lists  as an argument. Each sublist has 2 elements. The first element is the numerator and the second element is the denominator. Return the sum of the fractions rounded to the nearest whole number.

sum_functions([[18, 13], [4,5]]) =>

In [30]:
def sum_functions(lst):
    return round(sum(n/d for n, d in lst))

In [31]:
sum_functions([[18, 13], [4,5]])

2

18
13
4
5